.content__choose-item {
  display: flex;
  justify-content: space-between;
}

.content__flag {
  margin: 16px 24px 16px 0;
  width: 24px;
  height: 24px;
}

.choose-label {
  display: flex;
}

.choose-label__icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 16px;
  border-radius: 50%;
  background-color: #4F378B;
}

.choose-label__text {
  padding-top: 3px;
}
